/** @format */

.movie-list-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}
.movie-container {
  margin: 0.3rem;
  width: 200px;
  position: relative;
  cursor: pointer;
}
.desc-container {
  display: none;
  margin: 0 0.3rem 0.3rem 0;
  background-image: linear-gradient(transparent, #000000db);
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 190px;
  flex-direction: column;
  justify-content: flex-end;
}
.movie-container:hover .desc-container {
  display: flex;
}
h4 {
  margin: 0 0 0.1rem 0;
}
h6 {
  margin: 0.1rem 0;
}
