.bar-container{
    padding: 8px 1rem;
    border-bottom: 4px solid;
    display: flex;
}
.title-container {
    flex: 1;
    height: 5rem;
}
.title-wrapper{
    width: 8rem;
}
.nav-title {
    font-weight: 400;
    letter-spacing: 3px;
}